<%- include('head') -%>
<body class="body">
    <%- include('logo') -%>
    <form action="/user/login" method="post"  class='login'>
        <h1>Login</h1>
        
        <!-- <section class="usr-input"> -->
        <section class="input-wrapper"><i class="fa fa-user"></i></i><input type="email" name="email" id="email"  placeholder="Email" required></section>
        <section class="input-wrapper"><i class="fa fa-lock"></i><input type="password" name="password" id="password" placeholder="Password" required></section>
        <!-- <span class="errors"> 
        </span> -->
        <a href="/register">Create an account</a>
        <!-- </section> -->
        <% if (messages.error) { %>
            <p class="server_error error"><%= messages.error %></p>
        <% } else if(messages.success) {%>
            <p class="success-msg"><%= messages.success %></p>
        <% } %> 
        <input type="submit" class="submit" value="submit">
    </form>

</body>
</html>