<h1 class="title">
    <span class="coins">
        <i class="fas fa-coins"></i>
        <i class="fas fa-coins"></i>
        <i class="fas fa-coins"></i>
        <i class="fas fa-coins"></i>
    </span>
    <a href="/login" title="login">Dividend Tracker</a>
    <span class="money">
        <i class="fas fa-money-bill-wave"></i>
        <i class="fas fa-money-bill-wave"></i>
        <i class="fas fa-money-bill-wave"></i>
        <i class="fas fa-money-bill-wave"></i>
    </span>

</h1>