<%- include('head') -%>
<body class="body">
    <%#- include('logo') -%>
        <form id="register" class="register" method="post" action="/user/register">
            
            <h2>Create an account</h2>
            <section class="input-wrapper"><i class="fa fa-user"></i></i><input type="email" name="email" id="email"  placeholder="Email" required></section>
            <section class="input-wrapper"><i class="fa fa-lock"></i><input type="password" name="password" id="password" placeholder="Password" required></section>
            <section class="input-wrapper"><i class="fa fa-lock"></i><input type="password" id="verify-password" placeholder="Verify Password" required></section>
            <% if (messages.error) { %>
                <p class="error"><%= messages.error %></p>
            <% } else if(messages.success) {%>
                <p class="success-msg"><%= messages.success %></p>
            <% } %>
            <% console.log('messages:',messages) %> 
            <!-- <p class="errors"></p> -->
            <a href="/login">Login</a>
            <input type="submit" class="register_submit" value="submit">
        </form>

        <script src="/js/register_script.js"></script>
</body>
</html>