@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&family=Nunito&family=Nunito+Sans&display=swap');
:root{
    /* --clr-primary-500:#2d2d2d; */
    --clr-primary-500:#1f1f1f;
    --clr-primary-700:rgb(32 33 36);
    --clr-secondary:rgb(99 191 156);
    --clr-tertiary-500:rgb(238, 78, 78);
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    background:rgb(86, 95, 114);
    color:white;
    height:100vh;
    display:grid;
    place-items: center;
    overflow-x: hidden;
    transition:0.4s ease-in-out;
}
.container{
    background: rgb(99, 107, 130);
    width: 100vw;
    padding: 1rem;
    padding-right: 1.07rem;
    text-align: center;
    box-shadow: 0 0 10px black;
    background: var(--clr-primary-500);
    /* overflow-x: hidden; */
}
/* scroll bar */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--clr-primary-500);
}

  /* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.605);
    border-radius:1rem;
}
/* ----- */
.main-content{
    width:100%;
    overflow-x: hidden;
}
#linechart{
    margin: 1.2rem 0;
    border-radius: 2rem;
    overflow: hidden;
    min-height: 20rem;
    width:100%;
}
.chart-controls{
    width:100%;
    position:relative
}
.chart-control-wrapper{
    width: 50%;
    max-width: 24rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10%;
    margin: 1rem 0 0 auto;
    padding: 1rem;
    position: absolute;
    z-index: 999;
    right: 1rem;
    top: 1rem;
}
.chart-control-wrapper input[type="radio"]{
    display:none;
}
.chart-control-wrapper input[type="radio"]:checked + label{
    background:var(--clr-secondary);
}
.chart-control-wrapper label{
    background: #0e1818;
    border: none;
    color: rgb(236, 236, 236);
    padding: 0.2rem;
    cursor: pointer;
    border-radius: 1rem;
}
.top-column{
    background: var(--clr-primary-700);
    padding: 20px 0;
    padding-left: 5px;
    align-items: center;
    border-bottom: 2px solid black;
    padding-right: 1rem;
    border-radius: 10px 10px 0 0;
    display: grid;
    grid-template-columns: repeat(7,1fr) 1rem;
    place-items: center;
}
.inventory{
    padding: 20px 0;
    padding-left: 5px;
    padding-right: 1rem;
    height: 4.3rem;
    border-bottom: 2px solid black;
    background: linear-gradient(94deg, #1e1414cc, #57ac8c29);
    position: relative;
    display: grid;
    grid-template-columns: repeat(7,1fr) 1rem;
    place-items: center;
}

.inventory > div,.top-column > div{
    width:5.4rem;
    height: 1.8rem;
    text-align:center;
    min-inline-size: 10%; 
    inline-size: 45px;
}
.carrot-top{
    position: absolute;
    bottom: 95%;
    right: 15%;
    transform: scale(2);
    color: black;
}
.inventory input[type="checkbox"] + label  .controls{
    border-radius: 5px;
    position: absolute;
    right: -1.1rem;
    top: 2rem;
    background: rgba(0, 0, 0, 0.739);
    z-index: 50;
    transform: translateX(20rem);
    transition: 0.2s ease;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0.2rem  0.4rem;
    color: white;
    opacity: 0;
    place-items: center;
}

.action-label{
    position:relative;
}

.inventory input[type="checkbox"]:checked + label  .controls{
    transform: translateX(0);
    opacity: 1;
}
.add{
    width: 80%;
    max-width: 50rem;
    height: 2.57rem;
    margin: 10px 0;
    background: var(--clr-secondary);
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    padding: 2px 7px;
}
.add-data{
    height: 19rem;
    padding: 10px;
    text-align: center;
    display: none;
    z-index: 999;
}
#submit{
    background:rgb(85, 181, 98);
}
.stock-data input{
    width: 77%;
    max-width: 50rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    padding: 2px 7px;
    gap: 10px;
    margin: auto;
    background: rgb(23 23 23 / 81%);
    color: white;
    font-size: 1.09rem;
    text-align: center;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 1.5rem;
    border: none;
}

.optional{
    color:rgb(182, 191, 195);
}

.results{
    background: rgb(35 35 36);
    border-radius: 0 0 10px 10px;
    min-height: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 0  1rem 0;
    
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(0.9);
}
input[type="date"]{
    background-color: rgb(91, 98, 110);
    color:white;
    padding:5px 10px;
    border-radius:10px;
}
.sum{
    margin:15px 10px;
    font-size: 1.1rem;
    border-radius: 10px;    
}

#close{
    color:rgb(245, 106, 106);
    font-size:1.4rem;
    position:absolute;
    left:90%;
    cursor:pointer;
}
.options{
    cursor:pointer;
}
i{
    font-size:inherit;
    color:white;
    background:transparent;
}
.controls button{
    width:100%;
    display:grid;
    grid-template-columns: auto 1fr;
    color:white;
    font-size: 1rem;
    padding:0.5rem;
}
.controls button:hover{
    background: #33403b;
}
.delete {
    align-items: center;
    border:none;
    background:transparent;
    cursor:pointer;
    /* flex:0;
    margin:7px; */
}
.delete i{
    margin-right: 1rem;
}
.delete i:hover{
    text-shadow: 0 0 1px rgb(159, 55, 55);
}
.edit{
    align-items: center;
    border:none;
    background:transparent;
    /* margin:5px; */
    cursor:pointer;
}

.edit i:hover{
    text-shadow: 0 0 0.5px rgb(245, 247, 245);

}
#piechart_3d {
    /* width: 9vw;  */
    height: 500px;
}
#piechart_3d > div{
    width:100%;
    height:100%;
    border-radius: 10px;
}

.space{
    width:3.1rem;
    flex-shrink: 7;
}
.title{
    color: rgba(80, 244, 176, 0.848);
    border-radius: 10px;
    padding:5px;
    overflow: hidden;
}
.coins i{
    color:gold;
    font-size: 13px;
    animation-name:bounce;
    animation-duration:7s;
    animation-iteration-count: infinite;
}
.money i{
    color:rgb(41, 213, 41);
    font-size: 13px;
    animation-name:bounce;
    animation-duration:10s;
    animation-iteration-count: infinite;
}
.error{
    background:#e43757b3;
    color:rgb(202, 214, 250);
    margin-bottom:5px;
    padding:10px 1rem;
    border-radius:8px;
}
.success-msg{
    background:#7efa7e6e;
    color:rgb(202, 214, 250);
    margin-bottom:5px;
    padding:10px 1rem;
    border-radius:8px;
}
.cover{
    position:fixed;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
    place-items:center;
    background:rgba(139, 129, 159, 0.239);
    z-index: 999;
    display:none;
}

.delete_confirm{
    /* background:rgb(87, 90, 116); */
    background:rgb(41, 42, 50);
    height:15rem;
    width:auto;
    padding:1rem;
    flex-direction:column;
    justify-content: space-evenly;
    border-radius: 10px;
    display:flex;
}
.delete_confirm button{
    width:8rem;
    height:4rem;
    border-radius: 15px;
    font-size:1.2rem;
    cursor:pointer;
    color:white;
}
.cancel_delete{
    background-color: rgba(84, 77, 87, 0.709);
}
.verify_delete{
    background:rgba(244, 43, 43, 0.74);
}
.cancel_delete:hover,
.verify_delete:hover{
    box-shadow: 0 0 7px rgb(133, 129, 129);
} 
#bar_graph{
    height:30rem;
}
.compound_calculator{
    padding: 25px 10px;
    height: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.annual_input input[type=number]{
        /* border-radius: 10px; */
        padding: 5px 10px;
        background: rgb(0 0 0);
        color: white;
        margin: 5px;
        border: none;
}
select{
    padding:2px 5px;
    border-radius: 3px;
    background:rgb(70, 78, 96);
    color:white;
}
#calculate{
    padding:5px;
    width:50%;
    max-width: 15rem;
    margin:auto;
    margin-top:10px;
    border-radius: 10px;
    cursor:pointer;
    background:rgb(86, 96, 120);
    color:white;
}
#calculate:hover{
    box-shadow: 0 0 10px rgb(56, 45, 72);
}
.top_buttons{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:10px;
}
/* .logout{
    width:fit-content;
} */
.logout > button{
    min-height:2.5rem;
    min-width:3rem;
    padding:1vw;
    background:var(--clr-tertiary-500);
    cursor:pointer;
    color:white;
    border-radius:10px;
}
.logout i{
    color:rgb(252, 251, 251);
    font-size: 15px;
}
.logout button:hover{
    box-shadow: 0 0 7px rgba(33, 32, 32, 0.666);
}
.server_error{
    position:relative;
    top:1.5em;
    color:white;
}


/* ------------ Dividend Calander section ----------- */
.dividend_calander{
    width: 100%;
    height: max-content;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #232324;
    margin-bottom:1rem;
}
.calander-controls{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items: center;
    width: 70%;
    margin: 1rem;
    font-size: 1.1rem;
}
.calander-controls .month{
    padding: 0.1rem;
    width: fit-content;
    margin: auto;
    /* font-size: 1.3rem; */
}
.calander-controls i{
    cursor:pointer;
}
.calander-controls i:hover{
    color:rgb(158, 158, 158);
}

.calander-controls i:active{
    transform:scale(1.1);
    color:var(--clr-secondary);
}
.calander_data_wrapper,.calander-container{
    width:100%;
}
.calander_data_wrapper{
    display: none;
}
.show{
    display: block;
}
.transition-right{
    animation: transition-right 0.5s ease;
}
.transition-left{
    animation: transition-left 0.5s ease;
}
.calander_data{
    width: 95%;
    height: 4rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    background: linear-gradient(94deg, #232324, #57ac8c29);
    margin: auto;
    margin-top: 5px;
    /* border: 2px solid #1e3a1e; */
}
.calander_data > section{
    width: 4.5rem;
}
.dividend_date{
        /* background: rgb(87, 155, 237); */
    background: var(--clr-secondary);
    color: rgb(242, 238, 238);
    position: absolute;
    left: 0;
    height: 100%;
    width: auto;
    border-radius: 10px 0 0 10px;
    width: 15rem;
    max-width: 22%;
    display: grid;
    place-items: center;
}

.calander-icon i{
    font-size: 1.3rem;
}
.month-total{
    margin: 2rem 10% 2rem auto;
    float: right;
}
/*------- authentication pages--------- */

.login,.register{
    font-family: 'Nunito Sans', sans-serif;
    /* background-image: url('/img/rose-petals.svg'); */
    background-repeat: none;
    background-attachment: fixed;
    background-size: cover;
    /* padding: 0.8rem; */
    height: 32rem;
    width: 26rem;
    min-height: 25rem;
    max-width: 90vw;
    border-radius: 20px;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9%;
    position: relative;
    border: 1px solid #454545c9;
    /* background: linear-gradient(187deg, #131f15f2 50%, #63bf9c); */
    background: linear-gradient(rgba(250, 250, 250, 0.223),transparent);
}
.register{
    gap: 2rem !important;
}
.body{
    background-image: url('/img/rose-petals.svg') !important;
    background-repeat: none;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode:overlay;
}

.body h1{
    height:3rem;
}
.body .title{
    height:auto;
    width:auto;
    background: transparent;
    /* position:absolute;
    top:3%; */
}
.title a{
    color:rgba(80, 244, 176, 0.848);
    text-decoration: none;
}
.title a:hover{
    color:rgba(80, 201, 183, 0.848);

}
.login input ,.register input{
    width: 20rem;
    max-width: 87%;
    height: 3rem;
    padding: 5px;
    font-size: 1rem;
    border: none;
    overflow-x: auto;
    overflow-y: hidden;
}
.login input:active,
.login input:focus,
.register input:active,
.register input:focus{
    border:none;
    outline:none;
}
.login i,.register i{
    font-size: 1rem;
    margin: 5px;
    color: rgb(69, 69, 69);
    border-right: 1px solid #939393;
    padding-right: 0.4rem;
}
.login a,.register a{
    color:rgb(233, 207, 114);
    height:0.5rem;
    
}
.login .usr-input section{
    height:65%;
    /* width:100vw; */
    margin:0 1rem;
}
.body{
    /* background-image:linear-gradient(rgb(88, 169, 170),rgb(89, 115, 194) ,rgb(41, 59, 105)); */
    background:  var(--clr-primary-500);
    display:flex;
    min-height: 30rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    transition: none;
}

.body input[type="submit"]{
    cursor:pointer;
    /* background: linear-gradient( rgb(146, 108, 196),rgb(75, 49, 95)); */
    color:white;
    background: var(--clr-secondary);
    border-radius: 1rem;

}
.body input[type="submit"]:hover{
    box-shadow:0 0 8px rgb(138, 150, 205) ;
}
.bar{
    width:100%;
    height:0.5rem;
    background:white;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 1px rgb(236, 235, 235);
    margin-top: 0.5rem;
}
.fill{
    content:'';
    position:absolute;
    left:0;
    height:0.5rem;
    /* width:50%; */
    background:linear-gradient(green,rgb(159, 232, 159));
}
.input-wrapper{
    background: white;
    border: none;
    border-radius: 1rem;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

/* ------------- */
@keyframes bounce {
    0%   { transform: scale(1,1)    translateY(0); }
    10%  { transform: scale(1.1,.9) translateY(0); }
    30%  { transform: scale(.9,1.1) translateY(-24px); }
    50%  { transform: scale(1,1)    translateY(0); }
    100% { transform: scale(1,1)    translateY(0); }
}
@media (max-width:575px){
    body{
        font-size: 0.9rem;
    }
    .top-column{
        font-size:0.7rem;
    }
    .inventory{
        font-size:0.8rem;
    }
    .login,.register{
        /* height:69%; */
        padding:10px;
    }
    .title{
        font-size: 1.5rem;
    }
    .sum{
        font-size:0.85rem;
    }
    .container{
        padding:0.5rem;
    }
    .calander_data{
        font-size: 0.85rem;
    }
    
}
@media (max-width:350px){
    body{
        font-size: 0.7rem;
    }
    .title{
        font-size: 1.2rem;
        left:10%;
        
    }
    .login input ,.register input{
        width:15rem;
        max-width:87%;
        height:2.5rem;
        font-size:0.8rem;
    }
    
}
@keyframes transition-right {
    0%{transform: translateX(-100rem);}
    100%{transform: translateX(0);}
}
@keyframes transition-left {
    0%{transform: translateX(100rem);}
    100%{transform: translateX(0);}
}
